<mat-nav-list>
    <h3>INSTALLATION</h3>
    <mat-list-item>
      <button mat-button color="primary">Notification</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button>Checklist</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button>Banner</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button>Profile</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="warn">Logout</button>
    </mat-list-item>
  </mat-nav-list>
  