<mat-nav-list>
    <mat-list-item routerLink="/notification">
      <mat-icon matListIcon>notifications</mat-icon>
      <span matLine>Notification</span>
    </mat-list-item>
    <mat-list-item routerLink="/checklist">
      <mat-icon matListIcon>checklist</mat-icon>
      <span matLine>Checklist</span>
    </mat-list-item>
    <mat-list-item routerLink="/banner">
      <mat-icon matListIcon>banner</mat-icon>
      <span matLine>Banner</span>
    </mat-list-item>
    <mat-list-item routerLink="/profile">
      <mat-icon matListIcon>account_circle</mat-icon>
      <span matLine>Profile</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <button mat-raised-button color="accent">Logout</button>
    </mat-list-item>
  </mat-nav-list>
  