.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 150px;
  }
  
  .form-container {
    width: 300px;
  }
  
  mat-card {
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[matInput] {
    background-color: #e0e0e0; /* Gray background for the text boxes */
    color: #000; /* Black text color for input */
  }
  
  mat-label {
    color: #000; /* Black text color for labels */
  }
  
  button {
    width: 100%;
    background-color: #d32f2f; /* Red color for the button */
    color: white;
  }
  
  button:hover {
    background-color: #c62828; /* Darker red color on hover */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #d32f2f; /* Matching red color for the header */
  }
  